
:root {
  --bs-light: #f8f9fa;
  --jq-bs-dark: #6c757d;
  --jq-green-color: #1d8361;
  --jq-background-light: #34495E;
  --jq-background-dark: #112633;
  --jq-background-jtable: #5D6D7E;
  --jq-border-invalid: #FFA2A2;
  --jq-border-color: rgba(255,255,255,.3);
  --jq-border: 1px solid var(--jq-border-color);
  --jq-active-border: 1px solid var(--jq-green-color);
  --jq-font-din-light: DINLight, 'Times New Roman', Times, serif;
  --jq-font-din-medium: DINMedium, 'Times New Roman', Times, serif;
}

body {
  background-color: var(--jq-bs-dark) !important;
  margin: 20px !important;;
}

.max-width-100 {
  max-width: 100% !important;
}
